package {{package}};

import java.util.Objects;
{{#imports}}import {{import}};
{{/imports}}
{{#jackson}}
import com.fasterxml.jackson.annotation.JsonPropertyOrder;
{{/jackson}}
{{#serializableModel}}
import java.io.Serializable;
{{/serializableModel}}
import io.swagger.v3.oas.annotations.media.Schema;

{{#models}}
  {{#model}}
    {{#isEnum}}{{>modelEnum}}{{/isEnum}}{{^isEnum}}{{>pojo}}{{/isEnum}}
  {{/model}}
{{/models}}